@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
	margin: 0;
	padding: 0;
	background: url(Bg1.jpg) no-repeat;
	background-size: cover;
}

.box{
	width: 450px;
	background: rgba(0,0,0,0.4);
	text-align: center;
	padding: 40px;
	margin: auto;
	margin-top: 3%;
	font-family: sans-serif;
	border: 4px;
}

.box-img{
	border-radius: 50%;
	width: 200px;
	height: 200px;
}

.box-h1{
	font-family: 'Roboto', sans-serif;
}
